In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from urllib.request import Request, urlopen
from sklearn.metrics import accuracy_score,confusion_matrix
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/DataSets/diabetes_data_upload.csv')

In [ ]:
df

     Age  Gender Polyuria  ... Alopecia Obesity     class
0     40    Male       No  ...      Yes     Yes  Positive
1     58    Male       No  ...      Yes      No  Positive
2     41    Male      Yes  ...      Yes      No  Positive
3     45    Male       No  ...       No      No  Positive
4     60    Male      Yes  ...      Yes     Yes  Positive
..   ...     ...      ...  ...      ...     ...       ...
515   39  Female      Yes  ...       No      No  Positive
516   48  Female      Yes  ...       No      No  Positive
517   58  Female      Yes  ...       No     Yes  Positive
518   32  Female       No  ...      Yes      No  Negative
519   42    Male       No  ...       No      No  Negative

[520 rows x 17 columns]

In [ ]:
df['Gender'] = df['Gender'].map({'Male':1,'Female':0})
df['class'] = df['class'].map({'Positive':1,'Negative':0})
df['Polyuria'] = df['Polyuria'].map({'Yes':1,'No':0})
df['Polydipsia'] = df['Polydipsia'].map({'Yes':1,'No':0})
df['sudden weight loss'] = df['sudden weight loss'].map({'Yes':1,'No':0})
df['weakness'] = df['weakness'].map({'Yes':1,'No':0})
df['Polyphagia'] = df['Polyphagia'].map({'Yes':1,'No':0})
df['Genital thrush'] = df['Genital thrush'].map({'Yes':1,'No':0})
df['visual blurring'] = df['visual blurring'].map({'Yes':1,'No':0})
df['Itching'] = df['Itching'].map({'Yes':1,'No':0})
df['Irritability'] = df['Irritability'].map({'Yes':1,'No':0})
df['delayed healing'] = df['delayed healing'].map({'Yes':1,'No':0})
df['partial paresis'] = df['partial paresis'].map({'Yes':1,'No':0})
df['muscle stiffness'] = df['muscle stiffness'].map({'Yes':1,'No':0})
df['Alopecia'] = df['Alopecia'].map({'Yes':1,'No':0})
df['Obesity'] = df['Obesity'].map({'Yes':1,'No':0})

In [ ]:
df

     Age  Gender  Polyuria  ...  Alopecia  Obesity  class
0     40       1         0  ...         1        1      1
1     58       1         0  ...         1        0      1
2     41       1         1  ...         1        0      1
3     45       1         0  ...         0        0      1
4     60       1         1  ...         1        1      1
..   ...     ...       ...  ...       ...      ...    ...
515   39       0         1  ...         0        0      1
516   48       0         1  ...         0        0      1
517   58       0         1  ...         0        1      1
518   32       0         0  ...         1        0      0
519   42       1         0  ...         0        0      0

[520 rows x 17 columns]

In [ ]:
x = df[['Age', 'Gender', 'Polyuria', 'Polydipsia', 'sudden weight loss', 'Polyphagia', 
        'visual blurring', 'Irritability', 'partial paresis', 'Alopecia']]

y = df[['class']]

In [ ]:
x

     Age  Gender  Polyuria  ...  Irritability  partial paresis  Alopecia
0     40       1         0  ...             0                0         1
1     58       1         0  ...             0                1         1
2     41       1         1  ...             0                0         1
3     45       1         0  ...             0                0         0
4     60       1         1  ...             1                1         1
..   ...     ...       ...  ...           ...              ...       ...
515   39       0         1  ...             0                1         0
516   48       0         1  ...             1                1         0
517   58       0         1  ...             0                1         0
518   32       0         0  ...             0                0         1
519   42       1         0  ...             0                0         0

[520 rows x 10 columns]

In [ ]:
y

     class
0        1
1        1
2        1
3        1
4        1
..     ...
515      1
516      1
517      1
518      0
519      0

[520 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2,random_state=0, stratify=y)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier()
model.fit(X_train, y_train)
model.score(X_test, y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

0.9519230769230769

In [ ]:
import joblib

joblib.dump(model, 'diabetes_prediction.mdl')

['diabetes_prediction.mdl']